extends main
include ../mixins/video

block content 
    div(class="flow | text-align-right")
        video(src=`${video.videoUrl}` controls)
        small=video.createdAt
        small=ownerUser.username 
        if user._id===video.owner
            a(class="button" href=`/video/${id}/edit`) Edit  
            a(class="button" data-type="warn" href=`/video/${id}/delete`) Delete
            

        