extends main
include ../mixins/video

block content 
    div(class="video__play | flow text-align-left" style="--flow-spacer: 1rem;" data-id = `${video.id}`)
        video(src=`${video.videoUrl}` controls)
        p=video.title
        p=video.createdAt
        p
            a(href=`/user/profile/${video.owner._id}`)=video.owner.username
        if String(user._id)===String(video.owner._id)
            a(class="button" href=`/video/${id}/edit`) Edit  
            a(class="button" data-type="warn" href=`/video/${id}/delete`) Delete
    hr
    if Object.entries(user).length
        div
            form.video__comment(method="post")
                p.video__comment__title comments
                textarea.video__comment__body(cols="25", rows="4") 
                button(style="color:black") 댓글달기
    ul
        each comment in video.comments
            li=comment.text
        else 
            li 댓글이 없습니다
            
block script 
    if Object.entries(user).length
        script(src="/assets/js/comment.js") 